*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    background-image: url(./images/Rectangle\ 4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.btn-legal-color {
    background-color: #B68C5A;
}
.carousel-img{
    height: 500px;
    width: 100%;
}

